<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>EXAMPLE SQLALCHEMY</title>
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center ">
            <div class="col-lg-5 mt-5">
                <div class=" shadow-lg border-0 rounded-lg login mt-5">
                    <div class="ml-5">
                        <div class=" ml-5">
                            <form action="/addmaestro" method="POST">
                                <div class="form-group">

                                    <label class="col-form-label" for="">Nombre del Maestro</label>
                                    <input class="form-control" type="text" required="true" name="nombre">


                                </div>
                                <div class="form-group">

                                    <label class="col-form-label" for="">Estado</label>
                                    <input class="form-control" required="true" type="text" name="estado">
                                </div>
                                <button class="btn btn-primary" type="submit">
                                    Enviar
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="/consulta"> consulta</a>

</body>

</html>